<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Our pizzas! Tasty and delitious!</h1>
    <ul>
        {% for pizza in pizzas %}
            <li>{{pizza.name}}</li>
            <div class="">
                <mark>Ingridients</mark>
            </div>
            {% for i in pizza.toppings.all %}
                <ul>{{i.name}}</ul>
            {% endfor %}
        {% endfor %}
    </ul>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ model_form.as_p }}
        <input type="submit" value="place order">
    </form>
    <button class="more">add more pizza</button>
</body>
<script>
    let pizza = document.querySelector('#id_pizza_order')
    let order = document.querySelector('.order')
    let more = document.querySelector('.more')
    let form = document.querySelector('.form')

    more.addEventListener('click', (e) => {
        e.preventDefault()
        p = document.createElement('p')
        l = document.createElement('label')
        l.setAttribute('for', 'id_pizza_order')
        l.textContent = 'Pizza order: '
        cloned = pizza.cloneNode(true)
        p.append(l)
        p.append(cloned)
        form.insertBefore(p, order)
    })
</script>
</html>